/frontend/node_modules/
/frontend/build/

/backend/target/
/backend/.mvn/
/backend/.mvn/wrapper/maven-wrapper.jar
/backend/.idea/
/backend/src/main/**/target/
/backend/src/resources/application.properties
/backend/src/test/**/target/

.DS_Store
*.log

.idea/
/.vscode/
/*.iml
